body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #ffffff;
}

header {
    background-color: #ffffff;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    background: url('aaa.png') no-repeat center center/cover;
    height: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 4px rgb(255, 255, 255);
    width: 100;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.artwork img {
    width: 30%;
    margin: 10px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #282c34;
    color: white;
}
